In [ ]:
#Defining the Question
#>> to develop a model that would analyze subscribers' behavior and recommend
# one of Megaline's newer plans: Smart or Ultra.

#I can define the metric for success
#>> a model that predicts with >=75% accuracy

#provide background information surrounding the problem or research question

#record the experimental design, and detail data relevance.

In [ ]:
#Import Libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
#read data

telco = pd.read_csv('https://bit.ly/UsersBehaviourTelco')

In [ ]:
# looking at the data
telco.shape

(3214, 5)

In [ ]:
telco.head(5)

   calls  minutes  messages   mb_used  is_ultra
0   40.0   311.90      83.0  19915.42         0
1   85.0   516.75      56.0  22696.96         0
2   77.0   467.66      86.0  21060.45         0
3  106.0   745.53      81.0   8437.39         1
4   66.0   418.74       1.0  14502.75         0

In [ ]:
telco.tail(5)

      calls  minutes  messages   mb_used  is_ultra
3209  122.0   910.98      20.0  35124.90         1
3210   25.0   190.36       0.0   3275.61         0
3211   97.0   634.44      70.0  13974.06         0
3212   64.0   462.32      90.0  31239.78         0
3213   80.0   566.09       6.0  29480.52         1

In [ ]:
#checking for missing data
telco.isnull().any()

calls       False
minutes     False
messages    False
mb_used     False
is_ultra    False
dtype: bool

In [ ]:
#checking for duplicates
telco.duplicated().sum()

0

In [ ]:
#viewing the data types

telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214 entries, 0 to 3213
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     3214 non-null   float64
 1   minutes   3214 non-null   float64
 2   messages  3214 non-null   float64
 3   mb_used   3214 non-null   float64
 4   is_ultra  3214 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 125.7 KB

In [ ]:
#define the training data & test data 
# X is the input ; Y is the output
#x = diabetes_df.iloc[:,6:13]

x = telco.drop(['is_ultra'], axis=1)

y = telco['is_ultra']

In [ ]:
x.head(2)

   calls  minutes  messages   mb_used
0   40.0   311.90      83.0  19915.42
1   85.0   516.75      56.0  22696.96

In [ ]:
y.head(2)

0    0
1    0
Name: is_ultra, dtype: int64

In [ ]:
## instantiate the model- linear regression
model_1= LogisticRegression(random_state=12345, solver='liblinear')
model_2 = DecisionTreeClassifier(random_state=12345)
model_3 = RandomForestClassifier(random_state=12345, n_estimators=9)
model_4 =LinearRegression()

In [ ]:
# splitting into test & training

xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.25, random_state = 12345 )

In [ ]:
# LOGISTIC REGRESSION
model_1.fit(xtrain, ytrain)
print('Accuracy',model_1.score(xtest,ytest))

Accuracy 0.753731343283582

In [ ]:
# DECISION TREE 
model_2.fit(xtrain, ytrain)
print('Accuracy',model_2.score(xtest,ytest))

Accuracy 0.7213930348258707

In [ ]:
# RANDOM FOREST
model_3.fit(xtrain, ytrain)
print('Accuracy',model_3.score(xtest,ytest))

Accuracy 0.7810945273631841

In [ ]:
model_3

In [ ]:
#RANDOM FOREST GIVES BETTER RESULTS OF >=78%
#LOGISTIC REGRESSION ALSO GIVES A SCORE >=75%